.qr-scan-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.action-button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.video-container {
  margin-top: 20px;
  position: relative;
}

.video-preview {
  height: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 400px;
}

.qr-result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.qr-scan-container >p:first-child {
  color: #858585;
  text-align: center;
}

.base-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  /* Set your primary color */
  color: #fff; /* Set text color */
  transition: background-color 0.3s ease;
}

.primary-btn {
  background-color: #3498db; 
}

.delete-btn {
  background-color: red; 
}

.error-msg {
  color: red;
}

@media screen and (max-width: 400px) {
  .video-preview {
    max-width: unset;
    width: 100%;
  }
  
}