.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 30px;
}

.container > div{
  color: #555555;
}

.container .title {
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.container .share-icon{
  cursor: pointer;
}

.qr-code {
  margin: auto;
}

.popup {
  position: fixed;
  max-width: 400px;
  height: calc(100vh - 64px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

.popup_inner {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 20%;
  bottom: 35%;
  margin: auto;
  background: white;
  border-radius: 10px;
  text-align: center;
}

.popup_inner > span:first-child{
  cursor: pointer;
  right: 10px;
  position: absolute;
  top: 10px;
}

.popup_inner .title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 3rem;
}
