.card-page{
  height: 85vh;
  overflow: auto;
  position: relative;
}

.gap-mode .card{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.mode-buttons {
  display: flex;
  gap: 10px;
  padding: 20px;
  justify-content: flex-end;
  padding-bottom: 0;
}

.mode-buttons button {
  padding: 10px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}

.mode-buttons button.active {
  background-color: #f3ab47;
  color: #fff;
  border-color: #007bff;
}

.menu-icon {
  margin-right: 5px;
}

.no-event {
  margin-top: 50%;
  color: gray;
  text-align: center;
  font-size: 2rem;
}